Buttons .btn,
.btn-sm {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-lg text-sm font-medium transition-all;
}

.btn {
  @apply px-4 py-[11px];
}

.btn-sm {
  @apply px-3 py-[7px];
}
